* {
    font-family: "Noto Sans Nerd Font";
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 0px;

  }
  
  window#waybar {
    background: #2f343f;
    border: 1px solid #5294e2;
  }
  
  #workspaces button {
    background: transparent;
    color: #ccc;
    padding: 0 3px;
  }
  
  #workspaces button.active {
    background: #5294e2;
    color: white;
    border-radius: 0px;
  }
  
  #cpu,
  #memory,
  #temperature,
  #network,
  #pulseaudio,
  #tray,
  #clock {
    background: #3b4048;
    border-bottom: 1px solid #5294e2 ;
    border-top: 1px solid #5294e2 ;
    border-left: 1px solid #5294e2 ;
    
    /* margin: 0 3px; */
    padding: 0px 10px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
  }
  
  #temperature.critical {
    background-color: #e06c75;
    color: white;
  }
  
  